<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%=@review.user.username%>!</h1>
    <p>
      Your post for <%=@review.city.name%> has been upvoted!
      <br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
