<h1> <%= @user.username.capitalize %>'s Profile </h1>
<ul>
  <li>Country of origin: <%= @user.country_of_origin %></li>
  <% unless @user.gender == "Not specified" %>
    <li>Gender: <%= @user.gender  %></li>
  <% end %>
  <li>About: <%= @user.about %></li>

</ul>
