<h1>Admin Page</h1>
<%= link_to 'Add City', new_admin_city_path %> <br />

<% @cities.each do |city| %>
  <%= city.name %>
  <%= link_to 'Delete', admin_city_path(city), method: :delete  %> <br />
<% end %>
