/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
    background-color: #808083;
    font-family:Lato;
}

.col-3 {
  flex: 1;
  padding-left: 20px;
  margin-left: 20px;
  margin: 0 auto;
}

.eqWrap {
  display: flex;
  padding:20px;
  margin: 0 auto;
  width: 100%
}

li {
  list-style:none;
}

.container{
  margin: 0 auto;
  width: 80%;
}

.city{
  padding:5px;
  margin: 0 auto;
}


.top-bar {
  background: none;
  height: 58px;
  line-height: 58px;
  margin-bottom: 0;
}

.#title{
    font-family:Lato;
    font-size: 26px;
}

.nav{
  border-bottom: 1px solid #000000;
  background: #2d2d2d;

}

.navbutton{
  margin: 0 auto;
  padding: 10px;
  display: inline-block;
  list-style: none;
}
