#container {
    height: 80%;
    min-width: 310px;
    max-width:80%;
    margin: 0 auto;
}

#container2 {
  min-width: 200px;
  max-width: 420px;
  margin: 0 auto;
}
.link a {
  color: white;
  margin: 100px 100px;
  font-family: Lato;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.search li{
  display: inline;
  overflow: hidden;
  float: left;
}

#city{
  margin: 0 auto;
  text-align:center;
}

.title{
  color:white;
  padding-top:10px;
}

.cities_container{
  max-width:800px;
  margin: 0 auto;
}

.search_button{
  height:36px;
  padding:5px 10px;
  margin-left:10px;
}

.search_label{
  font-family:Avenir;
  font-size:16px;
  margin-top:8px;
  margin-right:10px;
}
