.review {
  border: 2px solid;
  border-radius: 10px;
  margin: 40px 8% 0px 8%;
  min-height: 320px;
  padding: 10px;
  font-family: Avenir;
  background-color: white;
  overflow: auto;
}

.inline-left {
  display: inline-block;
  float: left;
}

#ratings {
  margin: 10px 10px;
  display: inline-block;
  float: left;
}

#ratings-table {
  border-radius: 10px;
  border: 1px solid #b0b0b0;
  width: 250px;
}

#comments {
  margin: 10px 10px;
  padding: 20px 20px;
  width: 50%;
  height: 260px;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  display: inline-block;
  float: left;
  overflow: auto;
  background-color: white;
}

#votes-and-userinfo {
  margin: 0px 10px;
  min-width: 100px;
  display:inline-block;
  float:left;
  background-color: white
}

h1 {
  color: white;
  text-align: center;
}

a {
  color: white;
  font-family: Avenir;
}

a:hover {
  color: #3366FF; //#58D3F7;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

#up_vote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 45px 30px;
  border-color: transparent transparent #9ecb99 transparent;
  background-color: white;
  padding: 0;
}

#down_vote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 30px 0 30px;
  border-color: #c2797f transparent transparent transparent;
  background-color: white;
  padding: 0;
}

h3 {
  font-family: Avenir;
  font-color: white;
}

.black {
  color: black;
}
