.review {
  border: 2px solid;
  border-radius: 20px;
  margin: 40px 8% 0px 8%;
  min-height: 320px;
  padding: 10px;
  font-family: Lato;
  background-color: white;
}

.inline-left {
  display: inline-block;
  float: left;
}

#comments {
  margin: 20px 20px;
  width:400px;
  height: 215px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 20px
}

h1 {
  color: white;
  text-align: center;
}

a {
  color: white;
  font-family: Lato;
}

a:hover {
  color: #58D3F7;
}

#container {

  height: 600px;
  min-width: 310px;
  max-width: 900px;
  margin: 0 auto;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

#up_vote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 45px 30px;
  border-color: transparent transparent #31bd2a transparent;
  background-color: white;
  padding: 0;
}

#down_vote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 30px 0 30px;
  border-color: #bd2a31 transparent transparent transparent;
  background-color: white;
  padding: 0;
}
h3{
  font-family:Avenir;
  font-color:white;
}
