<h1><%= "Edit your Review" %></h1>

<%= render partial: "form_edit" %>
<%= button_to "Delete Review", country_city_review_path(country_id: params[:country_id], city_id: params[:city_id], id: @review.id), :method => :delete %>
