<h1><%= "Edit your Review" %></h1>

<% if flash.any? %>
  <div class="flash">
    <div class="container">
      <%flash[:notice].each do |f|%>
      <li>
        <%=f%>
      <%end%>
      </li>
    </div>
  </div>
<% end %>

<br />

<%= render :partial => "form" %>
